@model IEnumerable<WhoseTurn.Models.Task>

<div class="container-fluid">
    <h1>My turn:</h1>
    <div class="list-group">
        @foreach (var task in Model.Where(t => t.TurnPerson.Name == "Katie"))
        {
            <a href="#" class="list-group-item list-group-item-info">@task.Name</a>
        }
    </div>
    <h1>Chris' turn:</h1>
    <div class="list-group">
        @foreach (var task in Model.Where(t => t.TurnPerson.Name == "Chris"))
        {
            <a href="#" class="list-group-item disabled">@task.Name</a>
        }
    </div>
</div>
