@model IEnumerable<WhoseTurn.Models.Task>

<div class="container-fluid">
    <h1>My turn:</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-info">Dinner</a>
    </div>
    <h1>Chris' turn:</h1>
    <div class="list-group">
        <a href="#" class="list-group-item disabled">Dishes</a>
        <a href="#" class="list-group-item disabled">Laundry</a>
    </div>
</div>
