@model WhoseTurn.Common.ViewModels.TasksView
<script>
    localStorage.setItem('userId', '@Url.RequestContext.RouteData.Values["id"]');
</script>

<div class="container-fluid">
    @if (Model.MyTasks.Any())
    {
        <h1>My turn:</h1>
        <div class="list-group">
            @foreach (var task in Model.MyTasks)
            {
                @Html.ActionLink(task.Name, "Complete", "Tasks", new { task.Id }, new { @class = "list-group-item list-group-item-info" })
            }
        </div>
    }

    @foreach (var person in Model.OtherPeople)
    {
        if (person.Tasks.Any())
        {
            <h1>@person.Name's turn:</h1>
            <div class="list-group">
                @foreach (var task in person.Tasks)
                {
                    <a href="#" class="list-group-item disabled">@task.Name</a>
                }
            </div>
        }
    }
</div>