@model IEnumerable<WhoseTurn.Models.Person>

<div class="container-fluid">
    <h1>Who are you?</h1>
    @foreach (var person in Model)
    {
        @Html.ActionLink(person.Name, "Index", "Tasks", new { person.Id }, new { @class = "btn btn-info btn-lg btn-block" })
    }
</div>
